* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

html {
    font-size: 10px;
}

.wrepper {
    margin: 0 auto;
    width: 1920px;
}

.header {
    width: 1920px;
    background-color: rgba(1, 1, 1, 1);
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
}

.header__topMenu {
    width: 132rem;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 1.4rem;
}

.header__topMenu_connecton {
    display: flex;
    gap: 2.8rem;
    text-align: center;
}

.header__topMenu_connecton_tel-mail {
    height: 2rem;
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
}

.header__topMenu_connecton_tel::before {
    content: url(/images/svg/phone.svg);
    margin-right: 0.8rem;
    height: 100%;
}

.header__topMenu_connecton_mail::before {
    content: url(/images/svg/mail.svg);
    margin-right: 0.8rem;
    height: 100%;
}

.header__topMenu_btn {
    border: none;
    background-color: rgba(1, 1, 1, 1);
    color: rgba(79, 143, 240, 1);
    font-size: 1.4rem;
    cursor: pointer;
}

.header__topMenu_btn:hover {
    color: rgba(255, 255, 255, 1);
}

.header__box {
    height: 82rem;
    background: url(/images/png/фон.png);
}

.header__box_topMenu {
    height: 11.2rem;
    background: rgba(1, 1, 1, 0.76);
}

.header__mainMenu {
    width: 132rem;
    height: 11.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}

.header__mainMenu_log {
    width: 31.2rem;
    height: 6.2rem;
    display: flex;
    flex-direction: column;
}

.header__mainMenu_log_Logo {
    font: 900 2.8rem "Nunito Sans", sans-serif;
    color: rgba(79, 143, 240, 1);
}

.header__mainMenu_log_Logo-bottom {
    font: 900 2rem "Nunito Sans", sans-serif;
    color: rgba(255, 255, 255, 1);
}

.header__mainMenu_menu_burger-menu {
    display: none;
}

.header__mainMenu_menu_list {
    display: flex;
    gap: 3.2rem;
    list-style: none;
}

.header__mainMenu_menu_list_item_link {
    font: 700 1.8rem "Nunito Sans", sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.header__mainMenu_menu_list_item_link.active,
.header__mainMenu_menu_list_item_link:hover {
    color: rgba(79, 143, 240, 1);
}

.hidden {
    display: none;
}

.header__mainMenu_mob_list {
    width: 29rem;
    height: 53rem;
    position: absolute;
    background-color: rgba(34, 34, 34, 1);
    top: 0;
    right: 0;
    padding: 0;
    z-index: 3;
}

.header__mainMenu_mob_exitImg {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.header__mainMenu_menu_list.mob {
    width: 10.9rem;
    height: 23.4rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 2.4rem;
    margin-top: 5rem;
    margin-left: 2.6rem;
}

.header__mainMenu_menu_list_item_link.mob {
    font-size: 1.6rem;
}

.header__box_content {
    width: 109rem;
    height: 19.3rem;
    margin: 15rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.header__box_content_sp {
    font: 300 3rem "Nunito Sans", sans-serif;
    text-transform: uppercase;
}

.header__box_content_title {
    font: 600 5.6rem "Nunito Sans", sans-serif;
    color: rgba(79, 143, 240, 1);
    text-transform: uppercase;
}

.header__box_content_text {
    font: 400 2rem / 120% "Nunito Sans", sans-serif;
    text-align: center;
}

.header__box::after {
    content: " ";
    background-color: rgba(34, 34, 34, 0.20);
    position: relative;
    bottom: 0;
    left: 0;
    width: 192rem;
    height: 71rem;
    z-index: 0;
}

.header__box_btn {
    width: 15.8rem;
    height: 4.9rem;
    display: block;
    border: 0.2rem solid rgba(79, 143, 240, 1);
    background: rgba(79, 143, 240, 1);
    color: rgba(255, 255, 255, 1);
    font: 900 1.4rem "Nunito Sans", sans-serif;
    margin: 4.8rem auto 0;
    cursor: pointer;
    z-index: 1;
}

.header__box_btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(79, 143, 240, 1);
}

.header__box_sliderControl {
    width: 132rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    margin: 19.2rem auto 0;
}



/*___main____*/

.main {
    width: 1920px;
    margin: 0 auto;
    color: rgba(34, 34, 34, 1);
}

.main__boxServices {
    width: 1920px;
    height: 96rem;
    background-color: rgba(247, 247, 247, 1);
    margin-top: -1px;
    padding-top: 1px;
}

.main__boxServices_title {
    font: 800 2.8rem "Nunito Sans", sans-serif;
    text-align: center;
    margin-top: 8rem;
}

.main__boxServices_line {
    width: 5rem;
    height: 0.3rem;
    border: 1px solid rgba(79, 143, 240, 1);
    background-color: rgba(79, 143, 240, 1);
    margin: 1rem auto 0;
}

.main__boxServices_txt {
    width: 92rem;
    display: block;
    margin: 2.4rem auto 0;
    font: 1.6rem / 120% "Nunito Sans", sans-serif;
    text-align: center;
}

.main__boxServices_services {
    width: 132rem;
    height: 53.8rem;
    margin: 4.8rem auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3.8rem;
    column-gap: 2.4rem;
}

.main__boxServices_services_elem {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: relative;
}

.main__boxServices_services_elem::before {
    content: " ";
    background-color: rgb(248, 248, 248, 0);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.main__boxServices_services_elem.active,
.main__boxServices_services_elem:hover {
    background-color: rgba(79, 143, 240, 1);
    color: rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_img {
    display: block;
    margin: 5rem auto 0;
}

.main__boxServices_services_elem_title-h3 {
    font: 800 2rem / 150% "Nunito Sans", sans-serif;
    text-align: center;
    margin-top: 1.5rem;
}

.main__boxServices_services_elem_text {
    width: 36rem;
    height: 5.1rem;
    text-align: center;
    font: 1.4rem / 120% "Nunito Sans", sans-serif;
    margin: 1rem auto 0;
}

.main__boxServices_services_elem_line {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
}

.main__boxServices_services_elem_line.elem1 {
    top: 20px;
    left: 20px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_line.elem2 {
    top: 20px;
    right: 20px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_line.elem3 {
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_line.elem4 {
    bottom: 20px;
    right: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_btn {
    margin-top: 48px;
}


.main_block-CompanyHistory {
    width: 1920px;
    height: 58.4rem;
    background-color: rgba(255, 255, 255, 1);
    margin: -1px auto 0;
    padding-top: 1px;
}

.main_block-CompanyHistory_wrap {
    width: 1319px;
    height: 42.4rem;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.main_block-CompanyHistory_wrap_section_title {
    width: 69.2rem;
    height: 4.2rem;
}

.main_block-CompanyHistory_wrap_section_title_elem {
    font: 800 2.8rem / 150% "Nunito Sans", sans-serif;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 1);
}

.main_block-CompanyHistory_wrap_section_title_elem.el1 {
    padding-right: 0.5rem;
}

.main_block-CompanyHistory_wrap_section_title_elem.el2 {
    color: rgba(79, 143, 240, 1);
    font-weight: 900;
}

.main_block-CompanyHistory_wrap_section_line {
    width: 5rem;
    height: 0.3rem;
    border: 1px solid rgba(79, 143, 240, 1);
    background-color: rgba(79, 143, 240, 1);
    margin-top: 1rem;
}

.main_block-CompanyHistory_wrap_section_box-text {
    width: 72rem;
    height: 26.4rem;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_block-CompanyHistory_wrap_section_box-text_text {
    font: 1.6rem / 150% "Nunito Sans", sans-serif;
}

.main_block-CompanyHistory_wrap_section_button {
    width: 720px;
    height: 4.9rem;
    display: flex;
    justify-content: flex-start;
    gap: 2.4rem;
    margin-top: 3.2rem;
}

.main_block-CompanyHistory_wrap_section_button_btnOne {
    width: 21rem;
    height: 4.9rem;
    margin: 0;
    text-transform: uppercase;
}

.main_block-CompanyHistory_wrap_section_button_btnTwo {
    width: 16.1rem;
    height: 4.9rem;
    text-transform: uppercase;
    font: 900 1.4rem "Nunito Sans", sans-serif;
    background-color: rgba(230, 230, 230, 1);
    border: 0.2rem solid rgba(230, 230, 230, 1);
    color: rgba(34, 34, 34, 1);
    cursor: pointer;
}

.main_block-CompanyHistory_wrap_section_button_btnTwo:hover {
    background-color: rgba(255, 255, 255, 1);
}

.main_block-CompanyHistory_wrap_sectionImg_img {
    box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
}




@media screen and (max-width: 834px) {
    .header {
        width: 834px;
    }

    .header__box_topMenu {
        height: 8.4rem;
        position: relative;
    }

    .header__topMenu,
    .header__mainMenu {
        width: 696px;
    }

    .header__mainMenu_menu_list {
        display: none;
    }

    .header__mainMenu_menu_list.mob {
        display: flex;
    }

    .header__mainMenu_menu_burger-menu {
        display: block;
        cursor: pointer;
    }

    .header__mainMenu {
        width: 69.6rem;
        height: 8.4rem;
        margin: 0 69px;
        z-index: 1;
    }

    .header__mainMenu_log {
        width: 21.7rem;
        height: 4.7rem;
    }

    .header__mainMenu_log_Logo {
        font-size: 2.2rem;
    }

    .header__mainMenu_log_Logo-bottom {
        font-size: 1.6rem;
        margin-top: -8px;
    }

    .header__box {
        height: 52.9rem;
        background: url(/images/png/mob/фон.png);
    }

    .header__box_content {
        width: 69.6rem;
        height: 18.6rem;
        margin-top: 6.6rem;
        position: relative;
        z-index: 1;
    }

    .header__box_content_sp {
        font-size: 2.4rem;
    } 

    .header__box_content_title {
        font-size: 5rem;
    }

    .header__box_content_text {
        font-size: 1.8rem;
    }

    .header__box_btn {
        margin-top: 4.6rem;
        position: relative;
        z-index: 2;
    }

    .header__box_sliderControl {
        width: 69.6rem;
        margin-top: 3.6rem;
        position: relative;
        z-index: 1;
    }

    .header__box::after {
        width: 83.4rem;
        height: 44.5rem;
        display: block;
        background-color: rgba(34, 34, 34, 0.64);
        position: relative;
        top: 0;
        z-index: 0;
    }


    /*___main____*/

    .main {
        width: 834px;
    }

    .main__boxServices {
        width: 834px;
        height: 113rem;
    }

    .main__boxServices_title {
        font-size: 2.4rem;
        margin-top: 6rem;
    }

    .main__boxServices_txt {
        width: 69.6rem;
    }
    
    .main__boxServices_services {
        width: 69.6rem;
        height: 73.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2.4rem;
    }

    .main__boxServices_services_elem_img{
        margin-top: 3rem;
    }

    .main__boxServices_services_elem_title-h3{
        width: 27.2rem;
        margin: 1.5rem auto 0;
        line-height: 120%;
    }

    .main__boxServices_services_elem_text {
        width: 27.2rem;
        height: 5.1rem;
    }

    .main__boxServices_btn {
        margin-top: 48px;
    }



    .main_block-CompanyHistory {
        width: 834px;
        height: 54.2rem;
    }

    .main_block-CompanyHistory_wrap {
        width: 696px;
        height: 42.2rem;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .main_block-CompanyHistory_wrap_section_title {
        width: 59.3rem;
        height: 3.6rem;
    }

    .main_block-CompanyHistory_wrap_section_title_elem.el1 {
        padding-right: 0.4rem;
    } 

    .main_block-CompanyHistory_wrap_section_title_elem {
        font-size: 2.4rem;
    }

    .main_block-CompanyHistory_wrap_section_box-text {
        width: 696px;
    }

    .main_block-CompanyHistory_wrap_section_button {
        width: 696px;
        margin-top: 3.6rem;
    }

    .main_block-CompanyHistory_wrap_section_button_btnOne {
        margin-top: 0;
    }

    .main_block-CompanyHistory_wrap_sectionImg {
        display: none;
    }
}



@media screen and (max-width: 391px) {
    .header {
        width: 390px;
    }

    .header__box_topMenu {
        height: 8.4rem;
    }

    

    .header__topMenu,
    .header__mainMenu {
        width: 342px;
    }

    .header__topMenu_connecton_mail {
        display: none;
    }

    .header__mainMenu_menu_list {
        display: none;
    }

    .header__mainMenu_menu_burger-menu {
        display: block;
        cursor: pointer;
    }

    .header__mainMenu {
        width: 39rem;
        height: 8.4rem;
        margin: 0;
        padding: 0 24px;
        position: relative;
        z-index: 1;
    }

    .header__mainMenu_log {
        width: 21.7rem;
        height: 4.7rem;
    }

    .header__mainMenu_log_Logo {
        font-size: 2.2rem;
    }

    .header__mainMenu_log_Logo-bottom {
        font-size: 1.6rem;
        margin-top: -8px;
    }

    .header__mainMenu_menu {
        padding: 0;
    }

    .header__mainMenu_mob_list {
        height: 48.6rem;
    }

    .header__box {
        height: 48.6rem;
        background: url(/images/png/mob/фонMob.png);
    }

    .header__box_content {
        width: 34.2rem;
        height: 20.3rem;
        margin-top: 6rem;
        position: relative;
        z-index: 1;
    }

    .header__box_content_sp {
        font-size: 1.8rem;
    } 

    .header__box_content_title {
        font-size: 3rem;
        width: 34.4rem;
    }

    .header__box_content_text {
        font-size: 1.6rem;
    }

    .header__box_btn {
        margin-top: 3.2rem;
        position: relative;
        z-index: 2;
    }

    .header__box_sliderControl {
        display: none;
    }

    .header__box::after {
        width: 39rem;
        height: 40.2rem;
        position: relative;
        top: 0;
        background-color: rgba(34, 34, 34, 0.64);
        z-index: 0;
    }

       
        /*___main____*/

    .main {
        width: 390px;
    }

    .main__boxServices {
        width: 390px;
        height: 54.2rem;
    }

    .main__boxServices_title {
        font-size: 2rem;
        margin-top: 4rem;
    }

    .main__boxServices_txt {
        width: 34.2rem;
    }
    
    .main__boxServices_services {
        width: 390px;
        height: 21.5rem;
        margin: 0;
        margin-top: 2.4rem;
        display: flex;
        overflow: hidden;
        gap: 0;
    }

    .main__boxServices_services_elem {
        width: 25rem;
        height: 21.5rem;
        margin-left: 2.4rem;
    }

    .main__boxServices_services_elem_img{
        margin-top: 2.4rem;
    }

    .main__boxServices_services_elem_title-h3{
        width: 21.8rem;
        margin: 1.5rem 1.6rem 0;
        line-height: 120%;
    }

    .main__boxServices_services_elem_text {
        width: 21.8rem;
        height: 5.1rem;
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
    }

    .main__boxServices_btn {
        margin-top: 30px;
    }

    .elem1, .elem2,
    .elem3, .elem4 {
        display: none;
    }


    .main_block-CompanyHistory {
        width: 390px;
        height: 81.9rem;
    }

    .main_block-CompanyHistory_wrap {
        width: 342px;
        height: 73.9rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .main_block-CompanyHistory_wrap_section_title {
        width: 34.2rem;
        height: 6rem;
    }

    .main_block-CompanyHistory_wrap_section_title_elem.el1 {
        padding-right: 0.4rem;
    } 

    .main_block-CompanyHistory_wrap_section_title_elem {
        font-size: 2rem;
    }

    .main_block-CompanyHistory_wrap_section_box-text {
        width: 342px;
        height: 48rem;
    }

    .main_block-CompanyHistory_wrap_section_button {
        width: 342px;
        height: 12.2rem;
        margin-top: 12.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.4rem;
        align-items: center;
        margin-top: 4rem;
    }

    .main_block-CompanyHistory_wrap_section_button_btnOne {
        margin-top: 0;
    }

    .main_block-CompanyHistory_wrap_sectionImg {
        display: none;
    }
}
