* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

html {
    font-size: 10px;
}

.wrepper {
    margin: 0 auto;
    width: 1920px;
}

.header {
    width: 1920px;
    background-color: rgba(1, 1, 1, 1);
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
}

.header__topMenu {
    width: 132rem;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 1.4rem;
}

.header__topMenu_connecton {
    display: flex;
    gap: 2.8rem;
    text-align: center;
}

.header__topMenu_connecton_tel-mail {
    height: 2rem;
    margin-left: 0.1rem;
    display: flex;
    align-items: center;
}

.header__topMenu_connecton_tel::before {
    content: url(../images/svg/phone.svg);
    margin-right: 0.8rem;
    height: 100%;
}

.header__topMenu_connecton_mail::before {
    content: url(../images/svg/mail.svg);
    margin-right: 0.8rem;
    height: 100%;
}

.header__topMenu_btn {
    border: none;
    background-color: rgba(1, 1, 1, 1);
    color: rgba(79, 143, 240, 1);
    font-size: 1.4rem;
    cursor: pointer;
}

.header__topMenu_btn:hover {
    color: rgba(255, 255, 255, 1);
}

.header__box {
    height: 82rem;
    background: url("../images/png/фон.png");
}

.header__box_topMenu {
    height: 11.2rem;
    background: rgba(1, 1, 1, 0.76);
}

.header__mainMenu {
    width: 132rem;
    height: 11.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
}

.header__mainMenu_log {
    width: 31.2rem;
    height: 6.2rem;
    display: flex;
    flex-direction: column;
}

.header__mainMenu_log_Logo {
    font: 900 2.8rem "Nunito Sans", sans-serif;
    color: rgba(79, 143, 240, 1);
}

.header__mainMenu_log_Logo-bottom {
    font: 900 2rem "Nunito Sans", sans-serif;
    color: rgba(255, 255, 255, 1);
}

.header__mainMenu_menu_burger-menu {
    display: none;
}

.header__mainMenu_menu_list {
    display: flex;
    gap: 3.2rem;
    list-style: none;
}

.header__mainMenu_menu_list_item_link {
    font: 700 1.8rem "Nunito Sans", sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.header__mainMenu_menu_list_item_link.active,
.header__mainMenu_menu_list_item_link:hover {
    color: rgba(79, 143, 240, 1);
}

.hidden {
    display: none;
}

.header__mainMenu_mob_list {
    width: 29rem;
    height: 53rem;
    position: absolute;
    background-color: rgba(34, 34, 34, 1);
    top: 0;
    right: 0;
    padding: 0;
    z-index: 3;
}

.header__mainMenu_mob_exitImg {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.header__mainMenu_menu_list.mob {
    width: 10.9rem;
    height: 23.4rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 2.4rem;
    margin-top: 5rem;
    margin-left: 2.6rem;
}

.header__mainMenu_menu_list_item_link.mob {
    font-size: 1.6rem;
}

.header__box_content {
    width: 109rem;
    height: 19.3rem;
    margin: 15rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.header__box_content_sp {
    font: 300 3rem "Nunito Sans", sans-serif;
    text-transform: uppercase;
}

.header__box_content_title {
    font: 600 5.6rem "Nunito Sans", sans-serif;
    color: rgba(79, 143, 240, 1);
    text-transform: uppercase;
}

.header__box_content_text {
    font: 400 2rem / 120% "Nunito Sans", sans-serif;
    text-align: center;
}

.header__box::after {
    content: " ";
    background-color: rgba(34, 34, 34, 0.20);
    position: relative;
    bottom: 0;
    left: 0;
    width: 192rem;
    height: 71rem;
    z-index: 0;
}

.header__box_btn {
    width: 15.8rem;
    height: 4.9rem;
    display: block;
    border: 0.2rem solid rgba(79, 143, 240, 1);
    background: rgba(79, 143, 240, 1);
    color: rgba(255, 255, 255, 1);
    font: 900 1.4rem "Nunito Sans", sans-serif;
    margin: 4.8rem auto 0;
    cursor: pointer;
    z-index: 1;
}

.header__box_btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(79, 143, 240, 1);
}

.header__box_sliderControl {
    width: 132rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    margin: 19.2rem auto 0;
}



/*___main____*/

.main {
    width: 1920px;
    margin: 0 auto;
    color: rgba(34, 34, 34, 1);
}

.main__boxServices {
    width: 1920px;
    height: 96rem;
    background-color: rgba(247, 247, 247, 1);
    margin-top: -1px;
    padding-top: 1px;
}

.main__boxServices_title {
    font: 800 2.8rem "Nunito Sans", sans-serif;
    text-align: center;
    margin-top: 8rem;
}

.main__boxServices_line {
    width: 5rem;
    height: 0.3rem;
    border: 1px solid rgba(79, 143, 240, 1);
    background-color: rgba(79, 143, 240, 1);
    margin: 1rem auto 0;
}

.main__boxServices_txt {
    width: 92rem;
    display: block;
    margin: 2.4rem auto 0;
    font: 1.6rem / 120% "Nunito Sans", sans-serif;
    text-align: center;
}

.main__boxServices_services {
    width: 132rem;
    height: 53.8rem;
    margin: 4.8rem auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3.8rem;
    column-gap: 2.4rem;
}

.main__boxServices_services_elem {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: relative;
}

.main__boxServices_services_elem::before {
    content: " ";
    background-color: rgb(248, 248, 248, 0);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.main__boxServices_services_elem.active,
.main__boxServices_services_elem:hover {
    background-color: rgba(79, 143, 240, 1);
    color: rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_img {
    display: block;
    margin: 5rem auto 0;
}

.main__boxServices_services_elem_title-h3 {
    font: 800 2rem / 150% "Nunito Sans", sans-serif;
    text-align: center;
    margin-top: 1.5rem;
}

.main__boxServices_services_elem_text {
    width: 36rem;
    height: 5.1rem;
    text-align: center;
    font: 1.4rem / 120% "Nunito Sans", sans-serif;
    margin: 1rem auto 0;
}

.main__boxServices_services_elem_line {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
}

.main__boxServices_services_elem_line.elem1 {
    top: 20px;
    left: 20px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_line.elem2 {
    top: 20px;
    right: 20px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_line.elem3 {
    bottom: 20px;
    left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_services_elem_line.elem4 {
    bottom: 20px;
    right: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
}

.main__boxServices_btn {
    margin-top: 48px;
}


.main_block-CompanyHistory {
    width: 1920px;
    height: 58.4rem;
    background-color: rgba(255, 255, 255, 1);
    margin: -1px auto 0;
    padding-top: 1px;
}

.main_block-CompanyHistory_wrap {
    width: 1319px;
    height: 42.4rem;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.main_block-CompanyHistory_wrap_section_title {
    width: 69.2rem;
    height: 4.2rem;
}

.main_block-CompanyHistory_wrap_section_title_elem {
    font: 800 2.8rem / 150% "Nunito Sans", sans-serif;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 1);
}

.main_block-CompanyHistory_wrap_section_title_elem.el1 {
    padding-right: 0.5rem;
}

.main_block-CompanyHistory_wrap_section_title_elem.el2 {
    color: rgba(79, 143, 240, 1);
    font-weight: 900;
}

.main_block-CompanyHistory_wrap_section_line {
    width: 5rem;
    height: 0.3rem;
    border: 1px solid rgba(79, 143, 240, 1);
    background-color: rgba(79, 143, 240, 1);
    margin-top: 1rem;
}

.main_block-CompanyHistory_wrap_section_box-text {
    width: 72rem;
    height: 26.4rem;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_block-CompanyHistory_wrap_section_box-text_text {
    font: 1.6rem / 150% "Nunito Sans", sans-serif;
}

.main_block-CompanyHistory_wrap_section_button {
    width: 720px;
    height: 4.9rem;
    display: flex;
    justify-content: flex-start;
    gap: 2.4rem;
    margin-top: 3.2rem;
}

.main_block-CompanyHistory_wrap_section_button_btnOne {
    width: 21rem;
    height: 4.9rem;
    margin: 0;
    text-transform: uppercase;
}

.main_block-CompanyHistory_wrap_section_button_btnTwo {
    width: 16.1rem;
    height: 4.9rem;
    text-transform: uppercase;
    font: 900 1.4rem "Nunito Sans", sans-serif;
    background-color: rgba(230, 230, 230, 1);
    border: 0.2rem solid rgba(230, 230, 230, 1);
    color: rgba(34, 34, 34, 1);
    cursor: pointer;
}

.main_block-CompanyHistory_wrap_section_button_btnTwo:hover {
    background-color: rgba(255, 255, 255, 1);
}

.main_block-CompanyHistory_wrap_sectionImg_img {
    box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
}




.main__specialists {
    width: 1920px;
    height: 73.9rem;
    padding-top: 1px;
    margin: -1px auto 0;
    background-color: rgba(247, 247, 247, 1);
}

.main__specialists_tit {
    font: 800 2.8rem "Nunito Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8rem;
}

.main__specialists_line {
    margin: 10px auto 0;
}

.main__specialists_txt {
    width: 92rem;
    height: 3.8rem;
    display: block;
    margin: 2.4rem auto 0;
    font: 1.6rem / 120% "Nunito Sans", sans-serif;
    text-align: center;
}

.main__specialists_spec {
    display: flex;
    width: 132rem;
    height: 41.4rem;
    gap: 2.4rem;
    margin: 4.8rem auto 0;
}

.main__specialists_spec_box {
    width: 31.2rem;
    height: 41.4rem;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    cursor: pointer;
}

.main__specialists_spec_box_name {
    font: 700 1.6rem / 120% "Nunito Sans", sans-serif;
    text-align: center;
    padding-top: 2rem;
}

.main__specialists_spec_box_post {
    font: 300 1.4rem / 120% "Nunito Sans", sans-serif;
    text-align: center;
    padding-top: 1rem;
    text-transform: lowercase;
    display: block;
}

.main__specialists_spec_box_img {
    width: 31.2rem;
    height: 32rem;
}

.main__specialists_spec_box::before {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    position: absolute;
    display: block;
}

.main__specialists_spec_box_elem1.hover {
    border-left: 1px solid rgba(79, 143, 240, 1);
    border-top: 1px solid rgba(79, 143, 240, 1);
    width: 2.5rem;
    height: 2.5rem;
}

.main__specialists_spec_box_elem2.hover {
    border-right: 1px solid rgba(79, 143, 240, 1);
    border-top: 1px solid rgba(79, 143, 240, 1);
    width: 2.5rem;
    height: 2.5rem;
}

.main__specialists_spec_box_elem3.hover {
    border-left: 1px solid rgba(79, 143, 240, 1);
    border-bottom: 1px solid rgba(79, 143, 240, 1);
    width: 2.5rem;
    height: 2.5rem;
}

.main__specialists_spec_box_elem4.hover {
    border-right: 1px solid rgba(79, 143, 240, 1);
    border-bottom: 1px solid rgba(79, 143, 240, 1);
    width: 2.5rem;
    height: 2.5rem;
}

.main__specialists_spec_box_name.hover {
    padding-top: 83px;
}

.main__specialists_spec_box_post.hover {
    text-transform: none;
}

.main__specialists_spec_box_text.hover {
    width: 265px;
    height: 10.2rem;
    text-align: center;
    margin: 4rem auto 0;
    font: 300 1.4rem / 120% "Nunito Sans", sans-serif;
}

.main__specialists_spec_box_text-span.hover {
    display: block;
    padding-top: 40px;
    text-align: center;
    font: 600 1.6rem / 120% "Nunito Sans", sans-serif;
}



.main__blockReviews {
    height: 58.8rem;
    background-image: url(../images/png/reviews/Фон\ блока.png);
    padding-top: 1px;
}

.main__blockReviews_top-titl {
    width: 1320px;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    margin: 79px auto 0;
    align-items: center;
}

.main__blockReviews_top-titl_head_title {
    font: 800 2.8rem / 150% "Nunito Sans", sans-serif;
    text-transform: uppercase;
}

.main__blockReviews_top-titl_head_title_line {
    margin: 0;
    margin-top: 1rem;
}

.main__blockReviews_reviews {
    width: 1320px;
    height: 24.4rem;
    display: flex;
    gap: 24px;
    margin: 48px auto 0;
}

.main__blockReviews_reviews_elem {
    width: 648px;
    height: 24.4rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}

.main__blockReviews_reviews_elem_content {
    width: 584px;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px auto 0;
}

.main__blockReviews_reviews_elem_content_txt {
    width: 401px;
    height: 5.1rem;
}

.main__blockReviews_reviews_elem_content_txt_sp {
    font: 300 1.4rem / 120% "Nunito Sans", sans-serif;
    display: block;
}

.main__blockReviews_reviews_elem_content_txt_name {
    font: bold 2rem / 150% "Nunito Sans", sans-serif;
    display: block;
    padding-top: 0.4rem;
}

.main__blockReviews_reviews_elem_content_text {
    padding: 1.6rem 32px 3.2rem;
    font: 1.4rem / 150% "Nunito Sans", sans-serif;
}

.main__blockReviews_button {
    width: 1320px;
    height: 4.9rem;
    margin: 32px auto 80px;
    display: flex;
    gap: 24px;
}

.main__blockReviews_button_allReviews {
    width: 14.6rem;
    height: 4.9rem;
}

.main__blockReviews_button_writeReview {
    width: 18.5rem;
    height: 4.9rem;
}





.main__info {
    height: 91.3rem;
    padding-top: 1px;
    margin: -1px auto 0;
}

.main__info_tit {
    text-align: center;
    margin-top: 8rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 800;
}

.main__info_text {
    width: 92rem;
    text-align: center;
    font: 1.6rem / 120% "Nunito Sans", sans-serif;
    margin: 2.4rem auto 0;
}

.main__info_block {
    width: 1320px;
    height: 48.1rem;
    display: flex;
    gap: 24px;
    overflow: hidden;
    margin: 4.8rem auto 0;
}

.main__info_block_elem{
    width: 424px;
    height: 48.1rem;
    position: relative;
}

.main__info_block_elem::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.00);
    cursor: pointer;
    z-index: 4;
}

.dispalay-border::before {
    content: " ";
    width: 424px;
    height: 270px;
    position: absolute;
    display: block;
    background: rgba(79, 143, 240, 0.4);
    z-index: 2;
}

.main__info_block_elem_img-border {
    height: 270px;
    position: relative;
}

.main__info_block_elem_border {
    position: absolute;
    width: 35px;
    height: 35px;
    display: none;
    z-index: 3;
}

.main__info_block_elem_border.border1 {
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
    top: 20px;
    left: 20px;
}

.main__info_block_elem_border.border2 {
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
    top: 20px;
    right: 20px;
}

.main__info_block_elem_border.border3 {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(255, 255, 255, 1);
    bottom: 20px;
    left: 20px;
}

.main__info_block_elem_border.border4 {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
    bottom: 20px;
    right: 20px;
}

.main__info_block_elem_img {
    width: 424px;
    height: 270px;
}

.main__info_block_elem_he {
    font: 700 1.6rem / 150% "Nunito Sans", sans-serif;
    padding-top: 2.45rem;
}

.main__info_block_elem_txtS {
    display: inline-block;
    font: 300 1.2rem / 120% "Nunito Sans", sans-serif;
    padding-top: 1.6rem;
}

.main__info_block_elem_text {
    font: 1.4rem / 120% "Nunito Sans", sans-serif;
    padding-top: 1.6rem;
}

.main__info_block_btn {
    width: 15.3rem;
    height: 4.9rem;
    margin: 4.8rem auto 8rem;
}



/*___footer____*/

.footer {
    width: 1920px;
    height: 58.4rem;
    padding-top: 1px;
    margin: -1px auto 0;
    background-color: rgba(34, 34, 34, 1);
}

.footer__wrapper {
   width: 1320px;
   margin: 80px auto 0;
}

.footer__wrapper_bloc-1 {
    width: 1320px;
    height: 6.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrapper_block_text {
    width: 862px;
    height: 3.8rem;
    color: rgba(248, 245, 244, 1);
    font: 1.6rem / 120% "Nunito Sans", sans-serif;
}

.footer__wrapper_bloc-1_line {
    width: 1320px;
    height: 1px;
    border: 1px solid rgba(140, 140, 140, 1);
    margin: 48px auto;
}

.footer__wrapper_bloc-2 {
    width: 1320px;
    height: 21.7rem;
    display: flex;
    justify-content: space-between;
}

.footer__wrapper_bloc-2_contacts {
    width: 419px;
    height: 21.3rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__wrapper_bloc-2_contacts_elem {
    width: 420px;
    height: 5.5rem;
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer__wrapper_bloc-2_contacts_elem_box span {
    display: block;
}

.footer__wrapper_bloc-2_contacts_elem_box_lower {
    color: rgba(140, 140, 140, 1);
    font: 700 1.2rem "Nunito Sans", sans-serif;
    text-transform: uppercase;
}

.footer__wrapper_bloc-2_contacts_elem_box_upper {
    font: 700 1.6rem / 150% "Nunito Sans", sans-serif;
    color: rgba(255, 255, 255, 1);
}

.footer__wrapper_bloc-2_list {
   width: 190px;
   height: 1.7rem; 
}

.footer__wrapper_bloc-2_list-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.footer__wrapper_bloc-2_list-list_item_link {
    text-decoration: none;
    font: bold 1.4rem "Nunito Sans", sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.footer__wrapper_bloc-2_list-list_item_link.active,
.footer__wrapper_bloc-2_list-list_item_link:hover {
    color: rgba(79, 143, 240, 1);
}

.footer__wrapper_bloc-2_spec {
    width: 420px;
}

.footer__wrapper_bloc-2_spec-top {
    width: 420px;
    height: 6.5rem;
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer__wrapper_bloc-2_spec-top_inform {
    width: 335px;
    height: 5.1rem;
}

.footer__wrapper_bloc-2_spec-top_inform span {
    display: block;
    color: rgba(255, 255, 255, 1);
}

.footer__wrapper_bloc-2_spec-top_inform_name {
    font: bold 2rem / 150% "Nunito Sans", sans-serif;
}

.footer__wrapper_bloc-2_spec-top_inform_post {
    font: 300 1.4rem "Nunito Sans", sans-serif;
}

.footer__wrapper_bloc-2_spec_txt {
    width: 420px;
    height: 6.3rem;
    font: 1.4rem / 150% "Nunito Sans", sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-top: 1.6rem;
}

.footer__wrapper_bloc-2_spec_btn {
    width: 241px;
    margin: 0;
    margin-top: 24px;
}

.footer__bottom {
    width: 1920px;
    height: 4.9rem;
    background-color: rgba(24, 24, 24, 1);
    padding-top: 1px;
    margin-top: 79px;
}

.footer__bottom_elem {
    width: 1320px;
    height: 1.7rem;
    margin: 16px auto;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
}

.footer__bottom_elem_span {
    font: 1.4rem "Nunito Sans", sans-serif;
}



@media screen and (max-width: 834px) {
    .header {
        width: 834px;
    }

    .header__box_topMenu {
        height: 8.4rem;
        position: relative;
    }

    .header__topMenu,
    .header__mainMenu {
        width: 696px;
    }

    .header__mainMenu_menu_list {
        display: none;
    }

    .header__mainMenu_menu_list.mob {
        display: flex;
    }

    .header__mainMenu_menu_burger-menu {
        display: block;
        cursor: pointer;
    }

    .header__mainMenu {
        width: 69.6rem;
        height: 8.4rem;
        margin: 0 69px;
        z-index: 1;
    }

    .header__mainMenu_log {
        width: 21.7rem;
        height: 4.7rem;
    }

    .header__mainMenu_log_Logo {
        font-size: 2.2rem;
    }

    .header__mainMenu_log_Logo-bottom {
        font-size: 1.6rem;
        margin-top: -8px;
    }

    .header__box {
        height: 52.9rem;
        background: url(../images/png/mob/фон.png);
    }

    .header__box_content {
        width: 69.6rem;
        height: 18.6rem;
        margin-top: 6.6rem;
        position: relative;
        z-index: 1;
    }

    .header__box_content_sp {
        font-size: 2.4rem;
    } 

    .header__box_content_title {
        font-size: 5rem;
    }

    .header__box_content_text {
        font-size: 1.8rem;
    }

    .header__box_btn {
        margin-top: 4.6rem;
        position: relative;
        z-index: 2;
    }

    .header__box_sliderControl {
        width: 69.6rem;
        margin-top: 3.6rem;
        position: relative;
        z-index: 1;
    }

    .header__box::after {
        width: 83.4rem;
        height: 44.5rem;
        display: block;
        background-color: rgba(34, 34, 34, 0.64);
        position: relative;
        top: 0;
        z-index: 0;
    }


    /*___main____*/

    .main {
        width: 834px;
    }

    .main__boxServices {
        width: 834px;
        height: 113rem;
    }

    .main__boxServices_title {
        font-size: 2.4rem;
        margin-top: 6rem;
    }

    .main__boxServices_txt {
        width: 69.6rem;
    }
    
    .main__boxServices_services {
        width: 69.6rem;
        height: 73.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 2.4rem;
    }

    .main__boxServices_services_elem_img{
        margin-top: 3rem;
    }

    .main__boxServices_services_elem_title-h3{
        width: 27.2rem;
        margin: 1.5rem auto 0;
        line-height: 120%;
    }

    .main__boxServices_services_elem_text {
        width: 27.2rem;
        height: 5.1rem;
    }

    .main__boxServices_btn {
        margin-top: 48px;
    }



    .main_block-CompanyHistory {
        width: 834px;
        height: 54.2rem;
    }

    .main_block-CompanyHistory_wrap {
        width: 696px;
        height: 42.2rem;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .main_block-CompanyHistory_wrap_section_title {
        width: 59.3rem;
        height: 3.6rem;
    }

    .main_block-CompanyHistory_wrap_section_title_elem.el1 {
        padding-right: 0.4rem;
    } 

    .main_block-CompanyHistory_wrap_section_title_elem {
        font-size: 2.4rem;
    }

    .main_block-CompanyHistory_wrap_section_box-text {
        width: 696px;
    }

    .main_block-CompanyHistory_wrap_section_button {
        width: 696px;
        margin-top: 3.6rem;
    }

    .main_block-CompanyHistory_wrap_section_button_btnOne {
        margin-top: 0;
    }

    .main_block-CompanyHistory_wrap_sectionImg {
        display: none;
    }


    .main__specialists {
        width: 834px;
        height: 71.2rem;
    }
    
    .main__specialists_tit {
        font-size:2.8rem;
        margin-top: 6rem;
    }
    
    .main__specialists_txt {
        width: 69.6rem;
        height: 5.7rem;
    }
    
    .main__specialists_spec {
        display: flex;
        width: 83.4rem;
        overflow: hidden;
    }
    
    .main__specialists_spec_box {
        width: 300rem;
    }

    .main__specialists_spec_box:first-of-type {
        margin-left: 69px;
    }

    .main__specialists_spec_box:last-of-type {
        margin-right: 69px;
    }
    
    .main__specialists_spec_box_name {
        padding-top: 2.4rem;
    }
    
    .main__specialists_spec_box_post {
        
    }
    
    .main__specialists_spec_box_img {
        width: 30rem;
        height: 32rem;
    }
    
    .main__specialists_spec_box_elem1.hover {
        top: 5px;
        left: 5px;
    }
    
    .main__specialists_spec_box_elem2.hover {
        top: 5px;
        right: 5px;
    }
    
    .main__specialists_spec_box_elem3.hover {
        bottom: 5px;
        left: 5px;
    }
    
    .main__specialists_spec_box_elem4.hover {
        bottom: 5px;
        right: 5px;
    }



    .main__blockReviews {
        height: 56.7rem;
        background-image: url(../images/png/reviews/Фон\ блока\ планшет.png);
    }
    
    .main__blockReviews_top-titl {
        width: 696px;
        height: 4.9rem;
        margin: 59px auto 0;
    }
    
    .main__blockReviews_top-titl_head_title {
        font: 800 2.4rem / 150% "Nunito Sans", sans-serif;
    }
    
    .main__blockReviews_reviews {
        width: 834px;
        height: 26.5rem;
        margin: 48px auto 0;
        overflow: hidden;
    }
    
    .main__blockReviews_reviews_elem {
        width: 576px;
        height: 26.5rem;
    }

    .main__blockReviews_reviews_elem:first-of-type {
        margin-left: 69px;
    }

    .main__blockReviews_reviews_elem:last-of-type {
        margin-right: 69px;
    }
    
    .main__blockReviews_reviews_elem_content {
        width: 512px;
        margin-left: 32px;
        margin-right: 32px;
    }
    
    .main__blockReviews_reviews_elem_content_txt {
        width: 329px;
    }
    
    .main__blockReviews_button {
        width: 696px;
        margin: 36px auto 60px;
    }



    .main__info {
        height: 86.3rem;
    }
    
    .main__info_tit {
        margin-top: 6rem;
        font-size: 2.4rem;
    }
    
    .main__info_text {
        width: 69.6rem;
        font: 1.6rem / 120% "Nunito Sans", sans-serif;
        margin: 3rem auto 0;
    }
    
    .main__info_block {
        width: 834px;
        height: 48.1rem;
        overflow: hidden;
        margin: 2.9rem auto 0;
    }
    
    .main__info_block_elem{
        width: 336px;
        height: 48.1rem;
    }
    
    .dispalay-border::before {
        content: " ";
        width: 336px;
        height: 270px;
    }
    
    .main__info_block_elem_img {
        width: 336px;
        height: 270px;
    }
    
    .main__info_block_elem_he {
        font: 700 1.6rem / 150% "Nunito Sans", sans-serif;
        padding-top: 1.6rem;
    }
    
    .main__info_block_btn {
        margin: 4.8rem auto 6rem;
    }

    .main__info_block_elem:first-of-type {
        margin-left: 70px;
    }
    
    .main__info_block_elem:last-of-type {
        margin-right: 70px;
    }



        /*___footer____*/

    .footer {
        width: 834px;
        height: 51.7rem;
    }

    .footer__wrapper {
    width: 695px;
    margin: 60px auto 0;
    }

    .footer__wrapper_bloc-1 {
        width: 695px;
        height: 6.2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer__wrapper_block_text {
        display: none;
    }

    .footer__wrapper_bloc-1_line {
        width: 695px;
        margin: 24px auto;
    }

    .footer__wrapper_bloc-2 {
        width: 695px;
        height: 23.8rem;
    }

    .footer__wrapper_bloc-2_contacts {
        width: 335px;
        height: 20.3rem;
        gap: 34px;
    }

    .footer__wrapper_bloc-2_contacts_elem {
        width: 335px;
        height: 4.5rem;
        gap: 16px;
    }

    .footer__wrapper_bloc-2_contacts_elem_box_upper {
        font: 700 1.4rem / 150% "Nunito Sans", sans-serif;
    }

    .footer__wrapper_bloc-2_list {
        display: none;
    }

    .footer__wrapper_bloc-2_spec {
        width: 334px;
    }

    .footer__wrapper_bloc-2_spec-top {
        width: 334px;
    }

    .footer__wrapper_bloc-2_spec-top_inform {
        width: 245px;
    }

    .footer__wrapper_bloc-2_spec_txt {
        width: 334px;
        height: 8.4rem;
    }

    .footer__wrapper_bloc-2_spec_btn {
        margin: 0;
        margin-top: 24px;
    }

    .footer__bottom {
        width: 834px;
        height: 4.9rem;
        margin-top: 59px;
        padding-top: 1px;
    }

    .footer__bottom_elem {
        width: 695px;
        height: 1.7rem;
        margin: 0 auto;
        margin-top: 16px;
    }

}



@media screen and (max-width: 391px) {
    .header {
        width: 390px;
    }

    .header__box_topMenu {
        height: 8.4rem;
    }

    

    .header__topMenu,
    .header__mainMenu {
        width: 342px;
    }

    .header__topMenu_connecton_mail {
        display: none;
    }

    .header__mainMenu_menu_list {
        display: none;
    }

    .header__mainMenu_menu_burger-menu {
        display: block;
        cursor: pointer;
    }

    .header__mainMenu {
        width: 39rem;
        height: 8.4rem;
        margin: 0;
        padding: 0 24px;
        position: relative;
        z-index: 1;
    }

    .header__mainMenu_log {
        width: 21.7rem;
        height: 4.7rem;
    }

    .header__mainMenu_log_Logo {
        font-size: 2.2rem;
    }

    .header__mainMenu_log_Logo-bottom {
        font-size: 1.6rem;
        margin-top: -8px;
    }

    .header__mainMenu_menu {
        padding: 0;
    }

    .header__mainMenu_mob_list {
        height: 48.6rem;
    }

    .header__box {
        height: 48.6rem;
        background: url(../images/png/mob/фонMob.png);
    }

    .header__box_content {
        width: 34.2rem;
        height: 20.3rem;
        margin-top: 6rem;
        position: relative;
        z-index: 1;
    }

    .header__box_content_sp {
        font-size: 1.8rem;
    } 

    .header__box_content_title {
        font-size: 3rem;
        width: 34.4rem;
    }

    .header__box_content_text {
        font-size: 1.6rem;
    }

    .header__box_btn {
        margin-top: 3.2rem;
        position: relative;
        z-index: 2;
    }

    .header__box_sliderControl {
        display: none;
    }

    .header__box::after {
        width: 39rem;
        height: 40.2rem;
        position: relative;
        top: 0;
        background-color: rgba(34, 34, 34, 0.64);
        z-index: 0;
    }

       
        /*___main____*/

    .main {
        width: 390px;
    }

    .main__boxServices {
        width: 390px;
        height: 54.2rem;
    }

    .main__boxServices_title {
        font-size: 2rem;
        margin-top: 4rem;
    }

    .main__boxServices_txt {
        width: 34.2rem;
    }
    
    .main__boxServices_services {
        width: 390px;
        height: 21.5rem;
        margin: 0;
        margin-top: 2.4rem;
        display: flex;
        overflow: hidden;
        gap: 0;
    }

    .main__boxServices_services_elem {
        width: 25rem;
        height: 21.5rem;
        margin-left: 2.4rem;
    }

    .main__boxServices_services_elem_img{
        margin-top: 2.4rem;
    }

    .main__boxServices_services_elem_title-h3{
        width: 21.8rem;
        margin: 1.5rem 1.6rem 0;
        line-height: 120%;
    }

    .main__boxServices_services_elem_text {
        width: 21.8rem;
        height: 5.1rem;
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
    }

    .main__boxServices_btn {
        margin-top: 30px;
    }

    .elem1, .elem2,
    .elem3, .elem4 {
        display: none;
    }


    .main_block-CompanyHistory {
        width: 390px;
        height: 81.9rem;
    }

    .main_block-CompanyHistory_wrap {
        width: 342px;
        height: 73.9rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .main_block-CompanyHistory_wrap_section_title {
        width: 34.2rem;
        height: 6rem;
    }

    .main_block-CompanyHistory_wrap_section_title_elem.el1 {
        padding-right: 0.4rem;
    } 

    .main_block-CompanyHistory_wrap_section_title_elem {
        font-size: 2rem;
    }

    .main_block-CompanyHistory_wrap_section_box-text {
        width: 342px;
        height: 48rem;
    }

    .main_block-CompanyHistory_wrap_section_button {
        width: 342px;
        height: 12.2rem;
        margin-top: 12.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.4rem;
        align-items: center;
        margin-top: 4rem;
    }

    .main_block-CompanyHistory_wrap_section_button_btnOne {
        margin-top: 0;
    }

    .main_block-CompanyHistory_wrap_sectionImg {
        display: none;
    }



    .main__specialists {
        width: 395px;
        height: 60.7rem;
    }
    
    .main__specialists_tit {
        font-size:2rem;
        margin-top: 4rem;
    }
    
    .main__specialists_txt {
        width: 34.8rem;
        height: 8.5rem;
        font-size: 1.4rem;
        margin-top: 1.6rem;
    }
    
    .main__specialists_spec {
        display: flex;
        width: 39.5rem;
        height: 35.9rem;
        margin-top: 2.4rem;
        overflow: hidden;
    }
    
    .main__specialists_spec_box {
        width: 25rem;
        height: 34.8rem;
    }
    
    .main__specialists_spec_box_name {
        width: 21.8rem;
        height: 3.8;
        margin: 2.4rem auto 0;
        padding-top: 0;
    }
    
    .main__specialists_spec_box_post {
        width: 21.8rem;
        height: 3.4rem;
        padding: 0;
        margin: 1rem auto 0;
    }
    
    .main__specialists_spec_box_img {
        width: 25rem;
        height: 23.5rem;
    }
    
    .main__specialists_spec_box_name.hover {
        padding-top: 30px;
    }
    
    
    .main__specialists_spec_box_text.hover {
        width: 230px;
        height: 12rem;
        margin: 1rem auto 0;
        padding-left: 5px;
        padding-right: 5px;
        font: 300 1.4rem / 120% "Nunito Sans", sans-serif;
    }
    
    .main__specialists_spec_box_text-span.hover {
        display: block;
        padding-top: 1rem;
        text-align: center;
        font: 600 1.6rem / 120% "Nunito Sans", sans-serif;
    }



    .main__blockReviews {
        height: 57.9rem;
    }
    
    .main__blockReviews_top-titl {
        width: 341px;
        height: 4.3rem;
        margin: 30px auto 0;
    }
    
    .main__blockReviews_top-titl_head_title {
        font: 800 2rem / 150% "Nunito Sans", sans-serif;
    }

    .main__blockReviews_top-titl_img {
        display: none;
    }
    
    .main__blockReviews_reviews {
        width: 395px;
        height: 30.3rem;
        margin: 24px auto 0;
        overflow: hidden;
    }
    
    .main__blockReviews_reviews_elem {
        width: 340px;
        height: 30.3rem;
    }

    .main__blockReviews_reviews_elem:first-of-type {
        margin-left: 25px;
    }

    .main__blockReviews_reviews_elem:last-of-type {
        margin-right: 25px;
    }
    
    .main__blockReviews_reviews_elem_content {
        width: 292px;
        height: 5rem;
        margin: 24px;
        margin-bottom: 0;
    }

    .main__blockReviews_reviews_elem_content_photo {
        width: 5rem;
        height: 5rem;
    }

    .main__blockReviews_reviews_elem_content_txt_name {
        font-size: 2rem;
    }

    .main__blockReviews_reviews_elem_content_img {
        display: none;
    }
    
    .main__blockReviews_reviews_elem_content_txt {
        width: 226px;
        padding: 1px;
    }

    .main__blockReviews_reviews_elem_content_text {
        padding: 24px;
        padding-top: 16px;
    }
    
    .main__blockReviews_button {
        width: 341px;
        height: 11.4rem;
        margin: 24px auto 4rem;
        gap: 1.6rem;
        flex-direction: column;
        align-items: center;
    }


    .main__info {
        height: 79.3rem;
    }
    
    .main__info_tit {
        margin-top: 4rem;
        font-size: 2rem;
    }
    
    .main__info_text {
        width: 34.2rem;
        font: 1.4rem / 120% "Nunito Sans", sans-serif;
        margin: 1.6rem auto 0;
    }
    
    .main__info_block {
        width: 390px;
        height: 45.6rem;
        overflow: hidden;
        margin: 2.4rem auto 0;
    }
    
    .main__info_block_elem{
        width: 250px;
        height: 45.6rem;
    }
    
    .dispalay-border::before {
        content: " ";
        width: 250px;
        height: 200px;
    }

    .main__info_block_elem_img-border {
        height: 200px;
    }
    
    .main__info_block_elem_img {
        width: 250px;
        height: 200px;
    }
    
    .main__info_block_elem_he {
        font: 700 1.4rem / 150% "Nunito Sans", sans-serif;
    }
    
    .main__info_block_btn {
        margin: 4rem auto 4rem;
    }

    .main__info_block_elem:first-of-type {
        margin-left: 25px;
    }
    
    .main__info_block_elem:last-of-type {
        margin-right: 25px;
    }



    /*___footer____*/

    .footer {
        width: 390px;
        height: 71.5rem;
    }

    .footer__wrapper {
        width: 335px;
        margin: 40px auto 0;
    }

    .footer__wrapper_bloc-1 {
        width: 276px;
        height: 6.2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    .footer__wrapper_block_text {
        display: none;
    }

    .footer__wrapper_bloc-1_line {
        width: 342px;
        margin: 24px auto;
    }

    .footer__wrapper_bloc-2 {
        width: 342px;
        height: 44.4rem;
        flex-direction: column;
    }

    .footer__wrapper_bloc-2_contacts {
        width: 34px;
        height: 16.7rem;
        gap: 21px;
    }

    .footer__wrapper_bloc-2_list {
        display: none;
    }

    .footer__wrapper_bloc-2_spec {
        width: 334px;
    }

    .footer__wrapper_bloc-2_spec-top {
        width: 334px;
    }

    .footer__wrapper_bloc-2_spec-top_inform {
        width: 245px;
    }

    .footer__wrapper_bloc-2_spec_txt {
        width: 334px;
        height: 8.4rem;
    }

    .footer__wrapper_bloc-2_spec_btn {
        margin: 0;
        margin-top: 24px;
    }

    .footer__bottom {
        width: 390px;
        height: 7.4rem;
        margin-top: 39px;
        padding-top: 1px;
    }

    .footer__bottom_elem {
        width: 325px;
        height: 4.2rem;
        margin: 0 auto;
        margin-top: 16px;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
}
